body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #121212;
    color: #ffffff;
    overflow-x: hidden;
}

header {
    background-color: #1f1f1f;
    color: white;
    padding: 1rem;
    text-align: center;
}

.moviePlayer {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 80vh;
}

video {
    width: 80%;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
}

#searchBar {
    width: 80%;
    padding: 0.5rem;
    margin-top: 1rem;
    background-color: #333;
    color: white;
    border: none;
    border-radius: 4px;
    transition: background-color 0.3s, color 0.3s;
}

#searchBar:focus {
    background-color: #444;
    color: #ffffff;
}

#movieList {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 2rem;
    animation: fadeIn 1s ease-in-out;
}

@keyframes fadeIn {
    from { opacity: 0; }
    to { opacity: 1; }
}

.movieTile {
    background-color: #1f1f1f;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
    margin: 1rem;
    overflow: hidden;
    transition: transform 0.2s, box-shadow 0.2s, translateY 0.3s;
    width: 200px;
    cursor: pointer;
}

.movieTile:hover {
    transform: translateY(-10px) scale(1.05);
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.5);
}

.movieTile:hover .movieTitle {
    color: #ff9900;
}

.movieTile:active {
    transform: translateY(-5px);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
}

.moviePoster {
    width: 100%;
    transition: transform 0.3s;
}

.movieTitle {
    padding: 1rem;
    text-align: center;
    transition: color 0.3s;
}

.click-animate {
    transform: scale(0.95);
    transition: transform 0.3s;
}

.click-animate:active {
    transform: scale(0.9);
}
